NEXTAUTH_URL=http://localhost:3002
NEXT_AUTH_SECRET=replace-me

NEXT_DEFAULT_LANGUAGE=en-US
NEXT_AVAILABLE_LANGUAGES=en-US,pt-BR
NEXT_TRANSLATE_API_URL=https://sg-translations-api.example.com
NEXT_TRANSLATE_API_CLIENT_ID=replace-me

NEXT_OAUTH_CLIENT_ID=replace-me
NEXT_OAUTH_CLIENT_SECRET=replace-me
NEXT_OAUTH_AUTH_URL=https://sg-auth-app.example.com/api/v1/oauth/authorize
NEXT_OAUTH_TOKEN_URL=https://sg-auth-app.example.com/api/v1/oauth/token
NEXT_OAUTH_USER_URL=https://sg-auth-app.example.com/api/v1/oauth/user

NEXT_PUBLIC_LEGAL_API_URL=https://sg-legal-api.example.com/v1
NEXT_APP_PREFIX=sg-esign-app
NEXT_EVENTBUS_NAME=sg-eventbus-dev
AWS_DEFAULT_REGION=us-west-2
AWS_ACCESS_KEY_ID=replace-me
AWS_SECRET_ACCESS_KEY=replace-me
